

    <!-- Intro Section -->
    <section id="intro" class="dashboard-section-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Scrolling Nav</h1>
                    <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                    <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="dashboard-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Section</h1>
					<iframe src="http://public.tableausoftware.com/views/7-recruits_0/Top50RecuritingTracker?:embed=y&amp;:showVizHome=no&amp;:host_url=%2F%2Fpublic.tableausoftware.com%2F&amp;:tabs=no&amp;:toolbar=yes&amp;:animate_transition=yes&amp;:display_static_image=yes&amp;:display_spinner=yes&amp;:display_overlay=yes&amp;:display_count=yes&amp;:loadOrderID=0" class="tableauViz" style="display: block; margin: 0px; padding: 0px; border: medium none; width: 654px; height: 929px;" allowtransparency="true" marginwidth="0" marginheight="0" frameborder="0" height="929" width="654"></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="dashboard-section-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Services Section</h1>
					<script type='text/javascript' src='https://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 627px; height: 769px;'><noscript><a href='http:&#47;&#47;www.tableausoftware.com&#47;public&#47;gallery&#47;gannett-award'><img alt='Large servicers slow to modify loans in federal program ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;HA&#47;HAMP_final_4&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='627' height='769' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='HAMP_final_4&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;HA&#47;HAMP_final_4&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /></object></div><div style='width:627px;height:22px;padding:0px 10px 0px 0px;color:black;font:normal 8pt verdana,helvetica,arial,sans-serif;'><div style='float:right; padding-right:8px;'><a href='http://www.tableausoftware.com/public/about-tableau-products?ref=http://public.tableausoftware.com/views/HAMP_final_4/Dashboard1' target='_blank'>Learn About Tableau</a></div></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="dashboard-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>

